<div id="reportes">
	<header>
		<img class="escudo" src="img/escudo.png" width="60px" height="80px"><h1>Instituto Tecnológico Superior"Nuestra Señora del Rosario"</h1>
		<ul>
			<li><input type="button" value="Regresar" id="salir" ng-click="regresar()"></li>
		</ul>
	</header>
	<div ng-controller="vistaReportes">
		<center>
		<h3> Resultados de S.E.D</h3>
		</center>
		<table>
    <tr>
      <td>Cédula</td>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Carrera</td>
      <td>Ciclo</td>
      <td>Resultados</td>
    </tr>
    <tbody >
      <tr ng-repeat="elemento in elementos" class="teble-active">
      <td >{{elemento.fkprofesor.fkpersona.cedula}}</td>
        <td >{{elemento.fkprofesor.fkpersona.nombres}}</td>
        <td >{{elemento.fkprofesor.fkpersona.apellidos}}</td>
        <td >{{elemento.fkciclos.fkcarreras.nombrecarrera}}</td>
        <td >{{elemento.fkciclos.nombreciclo}}</td>
        <td >{{elemento.restotalestudiantes}}</td>
      </tr>

    </tbody>
   </table>
	</div>
</div>
